@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about Welcome to my D&D manager. Here you can manage all things dnd.</br> Character Sheets, Battle maps and more! Enjoy.</p>
        <img class="img-fluid" src="~/resources/DNDLOGO.png" style="height: 60vh"/>
    </div>
